body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.frame {
  width: 400px;
  height: 400px;
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
